<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Across n Beyond</title>
 <head>
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.js"></script>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	
  	<script src="js/bootstrap.js"></script>
  	<script src="js/reportTendersBid.js"></script>
	<link href="css/bootstrap.css" rel="stylesheet">

  	<link href="css/bootstrap-social.css" rel="stylesheet">
  	<link href="css/font-awesome.css" rel="stylesheet">
  	
  	<link href="css/vendors.css" rel="stylesheet">
  	
  	</head>
 <body ng-app="myApp" ng-controller="reportTenderController"> 	
<div class="container">
    <div class="row col-md-14 col-md-offset-0 custyle">
    <table class="table table-striped custab">
    <thead>
	<h2>Welcome {{vendor.name}}</h2>
     <a href="#" class="btn btn-primary btn-xs pull-center" onClick="onClick=window.location.href='login.html'"><b>+</b> Go Back</a>
     <a href="#" class="btn btn-primary btn-xs pull-right" ng-click="logOff()" > Log Off</a>
        <tr>
            <th>Tender Number</th>
            <th>Tender Start Date</th>
            <th>Tender End Date</th>
            <th>Scope of Work</th>
            <th>Issued By</th>
            <th class="text-center">Complete Analysis View</th>
	    <th class="text-center">Rate Analysis View</th>
	    <th class="text-center">Amount Analysis View</th>
	    <th class="text-center">Rate and Amount Analysis View</th>
	    <th class="text-center">Internal Budget View</th>
          
        </tr>
    </thead>
            <tr ng-repeat="tender in tenders">
                <td>{{ tender.tenderUniqueId }}</td>
                <td>{{ tender.tenderInitiateTime }}</td>
                <td>{{ tender.tenderSubmissionTime }}</td>
                <td>{{ tender.scopeOfWork }}</td>
                <td>{{ tender.tenderIssuedByName }}</td>
               
                <td class="text-center">
                <a class='btn btn-info btn-xs' ng-click="seeAllBidsCompleteCompAnalysis(tender.tenderUniqueId)" href="#"><span class="glyphicon glyphicon-edit"></span> See Complete Analysis View</a>
<td class="text-center">
                <a class='btn btn-info btn-xs' ng-click="seeAllBidsRateCompAnalysis(tender.tenderUniqueId)" href="#"><span class="glyphicon glyphicon-edit"></span> See Rate Analysis View</a>
<td class="text-center">
                <a class='btn btn-info btn-xs' ng-click="seeAllBidsAmountCompAnalysis(tender.tenderUniqueId)" href="#"><span class="glyphicon glyphicon-edit"></span> See Amount Analysis View</a>
<td class="text-center">
                <a class='btn btn-info btn-xs' ng-click="seeAllBidsRateAndAmountCompAnalysis(tender.tenderUniqueId)" href="#"><span class="glyphicon glyphicon-edit"></span> See Rate and Amount Analysis View</a>
<td class="text-center">
                <a class='btn btn-info btn-xs' ng-click="seeAllBidsInternalBudget(tender.tenderUniqueId)" href="#"><span class="glyphicon glyphicon-edit"></span> See Internal Budget View</a>		
            </tr>
            
    </table>
    </div>
</div>
</body>
</html>